<div class="section-content articles-list">

  <% obj.each do |article| %>
    <article class="article">
      <h4 class="article__title"><%= link_to article.title, article_path(article) %></h2>
      <p class="article__meta">
        <span class="article__author">by <%=link_to article.user.username, user_path(article.user) %></span>
        <span class="article__time">created <%= time_ago_in_words(article.created_at) %> ago, last updated <%= time_ago_in_words(article.updated_at) %> ago</span>
      </p>
      <p class="article__body"><%= truncate(article.description, lenght: 50) %></p>
      <div class="row">
        <%= link_to 'Delete', article_path(article),
          method: :delete,
          data: {confirm: "Are you sure you want to delete article '#{article.title}'?"},
          class: "button button-danger" %>
        <%= link_to 'Edit', edit_article_path(article), class: "button" %>
      </div>
    </article>
  <% end %>

</div>