<div class="section-actions">
  
  <% if logged_in? && (current_user == @article.user || current_user.admin?) %>
    <%= link_to 'Delete', article_path(@article),
      method: :delete,
      data: {confirm: "Are you sure you want to delete article '#{@article.title}'?"},
      class: "button button-danger" %>
    <%= link_to 'Edit', edit_article_path(@article), class: "button" %>
  <% end %>

  <%= link_to 'Back to listing', articles_path, class: "button" %>
  
</div>

<div class="section-content">

  <article class="article">
    <h2 class="article__title"><%= @article.title %></h2>
    <div class="article__meta">

      <ul class="article__author user-data__list">
        <li>Create by</li>
        <li class="user-data__image"><%= link_to gravatar_for(@article.user), user_path(@article.user) %></li>
        <li class="user-data__username"><%= link_to @article.user.username, user_path(@article.user) %></li>
        <li class="user-data__articles-count"><%= pluralize(@article.user.articles.count, "article") if @article.user.articles %></li>
      </ul>

      <span class="article__time"><%= time_ago_in_words(@article.created_at) %> ago, last updated <%= time_ago_in_words(@article.updated_at) %> ago</span>
    </div>
    <p class="article__body"><%= @article.description %></p>
  </article>

</div>