<div class="section-actions">
  <h2 class="section-title">All Alpha Bloggers</h2>
</div>

<div class="row users-list">
  <div class="eight columns offset-by-two">
    
    <div class="row">
      <%= will_paginate %>
    </div>

    <% @users.each do |user| %>
      <div class="user-data">
        <ul class="user-data__list">
          <li class="user-data__image"><%= link_to gravatar_for(user), user_path(user) %></li>
          <li class="user-data__username"><%= link_to user.username, user_path(user) %></li>
          <li class="user-data__articles-count"><%= pluralize(user.articles.count, "article") if user.articles %></li>
          <% if logged_in? and current_user.admin? %>
          <li class="user-data__actions">
            <%= link_to 'Delete', user_path(user),
                    method: :delete,
                    data: {confirm: "Are you sure you want to delete the user and all their articles?"},
                    class: "button button-danger" %>
          </li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <%= will_paginate %>
    </div>

  </div>
</div>