<div class="section-actions">
  <%= link_to 'Edit account', edit_user_path(current_user), class: "button" %>
</div>

<div class="row profile">
  <h2 class="profile__name"><%= @user.username %>'s page</h2>
  <%= gravatar_for @user, size: 150 %>
</div>

<div class="row">
  <h5 class="user-articles__title"><%= @user.username %>'s articles</h5>

  <div class="row">
    <%= will_paginate @user_articles %>
  </div>

  <%= render 'articles/articles_list', obj: @user_articles %>

  <div class="row">
    <%= will_paginate @user_articles %>
  </div>

</div>