<div class="row">
  <div class="section-actions">
    <h2 class="section-title">Category <%= @category.name %></h2>

    <% if logged_in? and current_user.admin? %>
      <%= link_to 'Edit', edit_category_path(@category), class: "button" %>
    <% end %>

    <%= link_to 'Back to listing', categories_path, class: "button" %>
  </div>
</div>

<div class="row">
  <%= will_paginate @category_articles %>
</div>

<%= render 'articles/articles_list', obj: @category_articles %>

<div class="row">
  <%= will_paginate @category_articles %>
</div>